<form method="POST">
    {% csrf_token %}
    <input name='username' placeholder="input username">
    <button>submit</button>
</form>

{% if results %}
<p>Username received!</p>

<h1 class='introduction'>What would you like to do?</h1>
<ul class='unordered'>
    <li><a href="{% url 'songs:topTracks' %}">See my top songs</a></li>
    <li><a href="{% url 'songs:recentlyPlayed' %}">See my recently played songs</a></li>
    <li><a href="{% url 'songs:topArtists' %}">See my top artists</a></li>
</ul>

{% endif %}
